<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KBGTN4PEDX"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTAG - Refactor</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>
    {% include "_nav.html" %}
    {% include "_form.html" %}

    <script>
      window.onload = function (event) {
        var anchor = document.getElementById('anchor');
        anchor.addEventListener('click', function(event) {
          event.preventDefault();
          if (window.dataLayer) {
            var event_data = JSON.parse(event.target.getAttribute('data-ga4'))
            var data = { 'event': 'gtag-refactor-click', event_data };
            window.dataLayer.push(data);
          }
        });
      }
    </script>
  </body>
</html>
