<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7JXZZWPGW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Z7JXZZWPGW');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTAG Original</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>
    {% include "_nav.html" %}
    {% include "_form.html" %}

    <script>
      window.onload = function (event) {
        var anchor = document.getElementById('anchor');
        anchor.addEventListener('click', function(event) {
          event.preventDefault();
          var event_data = JSON.parse(event.target.getAttribute('data-ga4'));
          gtag('event', 'gtag-original-click', event_data);
        });
      }
    </script>
  </body>
</html>
